@import "style";

.attachments-wrapper {
    .attachment {
        &:hover {
            a {
                color: $primary !important;
            }
        }
    }
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $primary;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}