::ng-deep app-e-services {
    flex-grow: 1;

    .services {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(160px, 1fr);
        grid-gap: 1rem;
        grid-auto-flow: dense;
        transition: all 0.5s ease-in;
    }
}
.max-content {
    min-width: max-content;    
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.24375em;

    .mat-form-field-label {
        margin: 0;
        line-height: normal;
    }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .6375em 0;
}

::ng-deep app-input-text {
  width: 100%;
}