<div class="modal-container d-flex flex-column">
  <div class="modal-header bg-header m-3" mat-dialog-header>
    <h1 class="m-0 font-24 regular text-primary  font-weight-bold" mat-dialog-title>{{ 'Actions.View' | translate }}  {{'Pages.Budgets.Title' | translate}}</h1>
  </div>

  <div class="px-0 m-0 view-masjed" mat-dialog-content>
    <mat-tab-group class="h-100" animationDuration="750ms">
      <mat-tab [label]="'Pages.Budgets.BudgetInformation' | translate" *ngIf="fromPage">
        <div class="row py-4 px-5 ">
          
          <div class="col-sm-6 ">
            <label for="nameAr" class="text-middle font-14 mb-1">{{ 'Fields.ArabicName' | translate }}</label>

            <h6 class="m-0 font-16 fw-bold">{{ fromPage.nameAr ? fromPage.nameAr : '-' }}</h6>
          </div>

          <div class="col-sm-6 ">
            <label for="nameEn" class="text-middle font-14 mb-1">{{ 'Fields.EnglishName' | translate }}</label>

            <h6 class="m-0 font-16 fw-bold">{{ fromPage.nameEn ? fromPage.nameEn : '-' }}</h6>
          </div>

          <div class="col-sm-6 ">
            <label for="value" class="text-middle font-14 mb-1">{{ 'Fields.BudgetNumber' | translate }}</label>

            <h6 class="m-0 font-16 fw-bold">{{ fromPage.budgetNumber ? fromPage.budgetNumber : '-' }}</h6>
          </div>
          <div class="col-sm-6">
            <label for="value" class="text-middle font-14 mb-1">{{ 'Fields.BudgetYear' | translate }}</label>

            <h6 class="m-0 font-16 fw-bold">{{ fromPage.budgetYear ? fromPage.budgetYear : '-' }}</h6>
          </div>

          <div class="col-sm-6">
            <label for="value" class="text-middle font-14 mb-1">{{ 'Fields.Amount' | translate }}</label>

            <h6 class="m-0 font-16 fw-bold">{{ fromPage.amount ? fromPage.amount : '-' }}</h6>
          </div>

          

          
        </div>
      </mat-tab>

      <mat-tab [label]="'Pages.Budgets.ClausesDetails' | translate">
        <table *ngIf="fromPage?.clauses.length>0" class="table table-bordered text-center" id="requestReport"
          #ticketsReport>
          <thead>
            <tr>
              <th>{{ 'Fields.Name' | translate}}</th>
              <th>{{ 'Fields.ClauseNumber' | translate}}</th>
              <th>{{ 'Fields.ApprovedAmount' | translate}}</th>
              <th>{{ 'Fields.ActualAmount' | translate}}</th>
             

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of fromPage?.clauses; let i = index;">
              
              <td>{{ Localize.checkLang() ? a?.nameEn : a?.nameAr}}</td>
              <td>{{a?.clauseNumber }}</td>
              <td>{{a?.approvedAmount }}</td>
              <td>{{a?.actualAmount }}</td>
             


            </tr>
          </tbody>
        </table>
      </mat-tab>

     
    </mat-tab-group>
  </div>

  <div class="modal-footer w-100 d-flex justify-content-end" mat-dialog-actions>
    <button class="main-btn font-14 text-white px-4 main" type="button" mat-flat-button mat-dialog-close>
      {{ 'Actions.Close' | translate }}
    </button>
  </div>
</div>
