<div class="page-wrapper">
    <h3 class="m-0 font-20">{{ 'Pages.Dashboard.Title' | translate }}</h3>

    <div class="row mt-1">
        <div class="col-md-6">
            <app-donut></app-donut>
        </div>
        <div class="col-md-6">
            <app-bar></app-bar>
        </div>
        <div class="col-md-6">
            <app-timeline></app-timeline>
        </div>
        <div class="col-md-6">
            <app-gradient-donut></app-gradient-donut>
        </div>
        <div class="col-md-6">
            <app-pie></app-pie>
        </div>
        <div class="col-md-6">
            <app-polar></app-polar>
        </div>
        <div class="col-md-6">
            <app-progress></app-progress>
        </div>

    </div>
</div>