<form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="submit()">
    

    <div class="mt-2">
        <app-input-text [formGroup]="form" controlName="nameEn" validatorLanguageType="en"
            [label]="('Common.EnglishName' | translate) + ('EN' | translate)">
        </app-input-text>
    </div>

    <app-input-text [formGroup]="form" controlName="nameAr" validatorLanguageType="ar"
        [label]="('Common.ArabicName' | translate) + ('AR' | translate)">
    </app-input-text>

    <app-dropdown [formGroup]="form" [options]="dateTypes" controlName="dataType"
        [placeholder]="'FormBuilder.DataType' | translate" [bindLabel]="Localize.isEnglish() ? 'nameEn'  : 'nameAr'"
        [bindValue]="'code'" (selected)="setControlDataType($event)">
    </app-dropdown>

    <app-input-text [formGroup]="form" controlName="value" [label]="('FormBuilder.DefaultValue' | translate)">
    </app-input-text>

    <app-input-text [formGroup]="form" controlName="minLength" [label]="('FormBuilder.MinLength' | translate)">
    </app-input-text>

    <app-input-text [formGroup]="form" controlName="maxLength" [label]="('FormBuilder.MaxLength' | translate)">
    </app-input-text>

    <app-input-text [formGroup]="form" controlName="min" [label]="('FormBuilder.Min' | translate)">
    </app-input-text>

    <app-input-text [formGroup]="form" controlName="max" [label]="('FormBuilder.Max' | translate)">
    </app-input-text>

    <app-checkbox [formGroup]="form" controlName="required" [label]="'FormBuilder.Required' | translate">
    </app-checkbox>

    <div class="d-flex justify-content-end align-items-center mt-4">
        <button class="main-btn font-14 text-error px-4 m-inline-start-3" type="button" mat-flat-button
            (click)="form.reset(); Router.navigateByUrl('/admin/employees')">
            {{ 'Action.Cancel' | translate }}
        </button>

        <button class="main-btn main font-14 text-white px-4 m-inline-start-3" type="submit" mat-flat-button
            [disabled]="form.invalid">
            {{ 'Action.Submit' | translate }}
        </button>
    </div>
</form>