<div class="modal-container d-flex flex-column">
    <div class="modal-header bg-header p-1 m-2" mat-dialog-header>
        <h1 class="m-0 font-24 regular text-primary" mat-dialog-title>{{ pageTitle | translate }}</h1>
    </div>

    <div class="px-4 pt-2 pb-4 m-0 bg-light" mat-dialog-content>
        <form method="post" class="row" [formGroup]="form" *ngIf="form">
            <div class="col-lg-12">
                <app-input-text [formGroup]="form" controlName="nameEn" validatorLanguageType="en"
                    [label]="('Fields.EnglishName' | translate) + ('Fields.En' | translate)">
                </app-input-text>
            </div>

            <div class="col-lg-12">
                <app-input-text [formGroup]="form" controlName="nameAr" validatorLanguageType="ar"
                    [label]="('Fields.ArabicName' | translate) + ('Fields.Ar' | translate)">
                </app-input-text>
            </div>

            

            <div class="col-lg-12">
                <app-input-text [formGroup]="form" controlName="budgetNumber" [label]="'Fields.BudgetNumber' | translate">
                </app-input-text>
            </div>

            <!-- <div class="col-lg-12">
                <app-input-text [formGroup]="form" controlName="budgetYear" [label]="'Fields.BudgetYear' | translate">
                </app-input-text>
            </div>
            <div class="col-lg-12">
                <app-input-text [formGroup]="form" controlName="amount" [label]="'Fields.Amount' | translate"  contentType="number">
                </app-input-text>
            </div> -->

            <div class="row">


                <div class="my-2" formArrayName="clauses">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="masjedNeeds" class="text-middle font-16">
                            {{ 'Clause.Title' | translate }}</label>

                        <button class="main-btn text-primary bg-transparent font-14 px-2 p-inline-end-3" type="button"
                            mat-flat-button (click)="clauses.push(initClause())">
                            <div class="d-flex align-items-center">
                                <i class='bx bx-plus font-20'></i>

                                <span class="m-inline-start-1">{{ 'Actions.Add' | translate }}</span>
                            </div>
                        </button>
                    </div>


                    <div class="bg-white px-3 py-2 box-shadow mt-3 flex-column align-items-center"
                        *ngFor="let clause of clauses.controls; let clauseIndex=index">
                        <div class="row w-100  flex-column" >
                            <div class="col-md-12 align-items-center">
                                <app-input-text [formGroup]="clause" controlName="nameEn" contentType="text"
                                    [label]="('Fields.En' | translate)">
                                </app-input-text>
                            </div>

                            <div class="col-md-12  align-items-center">
                                <app-input-text [formGroup]="clause" controlName="nameAr" contentType="text"
                                    [label]="('Fields.Ar' | translate)">
                                </app-input-text>
                            </div>


                        </div>
                        <div class="row w-100  flex-column" >
                            <div class="col-md-12  align-items-center">
                                <app-input-text [formGroup]="clause" controlName="clauseNumber" contentType="text"
                                    [label]="('Fields.ClauseNumber' | translate)">
                                </app-input-text>
                            </div>

                        


                        </div>
                        <!-- <div class="row w-100  flex-column" >
                            <div class="col-md-12 d-flex align-items-center">
                                <app-input-text [formGroup]="clause" controlName="approvedAmount" contentType="number"
                                    [label]="('Fields.ApprovedAmount' | translate)">
                                </app-input-text>
                            </div>

                            <div class="col-md-12 d-flex align-items-center">
                                <app-input-text [formGroup]="clause" controlName="actualAmount" contentType="text"
                                    [label]="('Fields.ActualAmount' | translate)">
                                </app-input-text>
                            </div> 


                        </div>-->

                        <button class="main-btn w-max text-error bg-transparent px-1 font-14 m-inline-start-2"
                            type="button" mat-flat-button (click)="clauses.removeAt(clauseIndex);">
                            <div class="d-flex align-items-center">
                                <i class='bx bx-x font-20'></i>
                            </div>
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer w-100 d-flex justify-content-end" mat-dialog-actions>
        <button class="main-btn font-14 text-error px-4" type="button" mat-flat-button mat-dialog-close>
            {{ 'Actions.Cancel' | translate }}
        </button>

        <button class="main-btn main font-14 text-white px-4 m-inline-start-3" type="submit" (click)="submit()"
            [disabled]="form?.invalid" mat-flat-button>
            {{ (pageType === 'add' ? 'Actions.Submit' : 'Actions.Save') | translate }}
        </button>
    </div>
</div>